body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

#nav-bar {
    width: calc(100%-120px);
    background-color: #535353;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.logo {
    height: 50px;
    width: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    font-family: Raleway, sans-serif;
    margin-right: 40px;
    color: #f5f5f5;
    font-size: 22px;
    font-weight: bold;
}

.nav-item:last-of-type {
    margin: 0;
}

.actions {
    display: flex;
}

.actions img {
    height: 20px;
}

.actions img:first-of-type {
    margin-right: 30px;
}

#tree-cards {
    width: calc(100% - 120px);
    padding: 100px 60px;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 300px;
    width: 28%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card span {
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
    color: #f5f5f5;
    padding: 20px 40px;
    font-size: 12px;
    text-align: center;
}

.card-1 {
    background-image: url("assets/tree1.jpg");
}

.card-2 {
    background-image: url("assets/tree2.jpg");
}

.card-3 {
    background-image: url("assets/tree3.jpeg");
}

#bob-ross {
    background-color: #f5f5f5;
    display: flex;
}

.wrapper {
    display: flex;
    margin: 39px 60px 49px 60px;
    justify-content: space-between;
}

.text {
    margin-right: 70px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

div img {
    height: 435px;
    width: 409px;
    top: 971px;
    bottom: 450px;
}

#grid-wrapper {
    width: calc(100%-140px);
    padding: 100px 70px;
    display: grid;
    gap: 20px;
    grid-template-areas: "kaab1 kaab1 kaab2 kaab3" "kaab4 kaab5 kaab6 kaab6";
}

.card-1 {
    grid-area: kaab1;
}

.card-2 {
    grid-area: kaab2;
}

.card-3 {
    grid-area: kaab3;
}

.card-4 {
    grid-area: kaab4;
}

.card-5 {
    grid-area: kaab5;
}

.card-6 {
    grid-area: kaab6;
}

.card {
    width: 100%;
}