:root {
  --dark-color: #535353;
  --light-color: #f5f5f5;
  --horizontal-padding: 60px;
  --container-width: calc(100% - var(--horizontal-padding) * 2);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

#nav-bar {
  width: var(--container-width);
  background-color: var(--dark-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--horizontal-padding);
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  font-family: Raleway, sans-serif;
  margin-right: 40px;
  color: var(--light-color);
  font-size: 22px;
  font-weight: bold;
}

.nav-item:last-of-type {
  margin: 0;
}

.actions {
  display: flex;
}

.actions img {
  height: 20px;
}

.actions img:first-of-type {
  margin-right: 30px;
}

#tree-cards {
  width: var(--container-width);
  padding: 100px var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
}

.card {
  height: 300px;
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card span {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40%;
  color: var(--light-color);
  padding: 20px 40px;
  font-size: 12px;
  text-align: center;
}

.card-1 {
  background-image: url("assets/tree1.jpg");
}
.card-2 {
  background-image: url("assets/tree2.jpg");
}
.card-3 {
  background-image: url("assets/tree3.jpeg");
}

#boss {
  background-color: var(--light-color);
  width: var(--container-width);
  padding: 100px var(--horizontal-padding);
  display: flex;
  align-items: flex-end;
}

#boss img {
  width: 400px;
}

.content h1 {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
}

.content {
  margin-right: 50px;
}

#grid {
  display: grid;
  width: var(--container-width);
  padding: 100px var(--horizontal-padding);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "bob1 bob1 bob2 bob3" "bob4 bob5 bob6 bob6";
  gap: 20px;
}

.grid-img {
  width: 100%;
  object-fit: cover;
  align-self: stretch;
}

.bob-1 {
  grid-area: bob1;
}

.bob-2 {
  grid-area: bob2;
}

.bob-3 {
  grid-area: bob3;
}

.bob-4 {
  grid-area: bob4;
}
.bob-5 {
  grid-area: bob5;
}
.bob-6 {
  grid-area: bob6;
}
