body {
    background-color: #f5f5f5;
    margin: 0px;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #535353;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;

}

.logo {
    display: flex;
    height: 50px;
    width: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-left: 60px;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
}

.list li {
    margin: 40px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 30px;
    margin-right: 30px;
    align-items: center;
}

ul img {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 68px;
    padding-bottom: 45px;
}

.container img {
    height: 200px;
    width: 368px; /* alternartive here is to use width: calc(100% - 120px); */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}


.container .img1 {
    background-image: url(/assets/tree1.jpg);
    width: 100%;
    margin-top: 0px;
    background-size: contain; /* background-size: cover ; background-repeat: no repeat ; background-position: center center*/
    height: 200px;
    width: 355px;
    text-align: center;

}

.container .img2 {
    background-image: url(/assets/tree2.jpg);
    width: 100%;
    margin-top: 0px;
    background-size: contain;
    height: 200px;
    width: 355px;
    text-align: center;

}

.container .img3 {
    background-image: url(/assets/tree3.jpeg);
    width: 100%;
    margin-top: 0px;
    background-size: contain;
    height: 200px;
    width: 355px;
    text-align: center;

}

.container p{
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 35px;
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 30px;
    text-align: center;
}

.bobross {
    background-color: #e5e5e5;
    height: 513px;
    display: flex;
    width: calc(100% - 120px);
    padding: 10px 60px 30px 60px;
    text-align: flex-end;
    align-items: flex-end;
    margin-top: 0px;
}

.bobross .text {
   margin-right: 70px; 
   margin-top: 0px;
}
.bobross h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 30px;
    margin-top: 0px;
}

.theboss img{
    width: 409px;
    height: 425px;
  
}

.bobross p {
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.bobross p:last-of-type {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-row-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "bob2 bob2 bob3 bob4"
    "bob5 bob6 bob7 bob7";
    padding-top: 85px;
    padding-left: 63px;
    padding-right: 63px;
    padding-bottom: 50px;
}

.bob2 {
    grid-area: bob2;
}

.bob3 {
    grid-area: bob3;
}

.bob4 {
    grid-area: bob4;
}

.bob5 {
    grid-area: bob5;
}

.bob6 {
    grid-area: bob6;
}

.bob7 {
    grid-area: bob7;
}

.grid img {
    height: 291px;
}