body {
    margin: 0;
    font-family: sans-serif;
}

.nav-bar {
    background-color: #535353;
    height: 80px;
    padding: 0 60px;
    display: flex;
    width: calc(100%-120px);
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.action {
    height: 50px;
    display: flex;
    width: 50px;
}

.nav-list li {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    display: inline;
    color: #ffffff;
    padding: 40px;
}

.buttons img {
    padding-right: 40px;
    height: 20px;
    width: 20px;
}

#content-grid {
    padding: 100px
}

#tree-cards {
    width: calc(100%-120px);
    padding: 100px 60px;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 300px;
    width: 25%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
    background-position: center center;
}

.card span {
    background-color: rgb(0, 0, 0, 0.7);
    width: 40%;
    color: white;
    padding: 20px 40px;
    font-size: 12px;
}

.card-1 {
    background-image: url("assets/tree1.jpg");
}

.card-2 {
    background-image: url("assets/tree2.jpg");
}

.card-3 {
    background-image: url("assets/tree3.jpeg");
}